<footer id="footer" class="bg-white text-muted fixed-bottom d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col text-right">
                <div class="py-3">
                    <p>Copyright &copy; 2018</p>
                    <a href="https://github.com/qshenJoe"><span><i class="fa fa-github"></i></span></a>
                    <a href="https://www.facebook.com/qiaohong.shen.9"><span><i class="fa fa-facebook"></i></span></a>
                    <a href="https://www.instagram.com/qshenjoe/"><span><i class="fa fa-instagram"></i></span></a>
                </div>
            </div>
        </div>
    </div>
</footer>